* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	margin: 0;
	background: linear-gradient(90deg, #141414, #141414, #272727);
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
a {
	text-decoration: none;
}
/*--------------Header--------------------------------------- */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 30px;
	height: 100px;
	background-color: transparent;
}

#head-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 100px; /* Logo ile menü arası boşluk */
	flex: 1;
}

.logo {
	font-size: 50px;
	color: #0096e0;
	font-family: "Playpen Sans Thai", cursive;
	transition: color 0.3s ease;
	text-shadow: 0px 0px 10px #0095e091;
}

.logo:hover {
	color: #0070c2;
}

nav {
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.MenuButon {
	position: relative;
	text-decoration: none;
	border: none;
	height: 40px;
	width: 100%;
	background-color: #ffffff00;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	transition: color 0.3s ease, transform 0.3s ease;
	cursor: pointer;
}

/* Hover hareketi */
.MenuButon:hover {
	transform: translateX(-5px);
	color: #0096e0;
}

/* Alt çizgi için pseudo-element */
.MenuButon::after {
	content: "";
	position: absolute;
	bottom: 8px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #0096e0;
	box-shadow: 0 0 5px #0096e0; /* Hafif parıltılı çizgi */
	transition: width 0.3s ease, box-shadow 0.3s ease;
}

/* Hover olduğunda çizgi genişler */
.MenuButon:hover::after,
.MenuButon:focus::after,
.MenuButon:active::after {
	width: 100%;
}

.LangButton {
	background: linear-gradient(to right, #007bff, #00c6ff);
	color: #ffffff;
	border: none;
	border-radius: 25px;
	font-size: 12px;
	font-family: "Arial", sans-serif;
	font-weight: 500;
	text-align: center;
	padding: 8px 20px;
	margin: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all 0.3s ease;
	display: inline-block;
	min-width: 70px;
}

.LangButton:hover {
	background: linear-gradient(to right, #0056b3, #0088cc);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
}

.LangButton:active {
	background: linear-gradient(to right, #0056b3, #0088cc);
	transform: scale(0.98);
}
#CurrentPage {
	position: relative;
	border: none;
	background-color: transparent;
	color: #0096e0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;

	cursor: pointer;
}

#CurrentPage::after {
	content: "";
	position: absolute;
	bottom: 8px; /* tam alta yasla */
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #0096e0;
	box-shadow: 0 0 5px #0096e0;
	border-radius: 2px; /* daha yumuşak görünüm */
}
#CurrentPage:hover {
	transform: translateX(0px);
}
/* -------------------Main---------------------------------- */

main {
	flex: 1;
	display: flex;
	align-items: flex-start;

	gap: 30px;
	padding: 30px 50px;
	background-color: #00000000;
	min-height: 600px;
}

.informations {
	width: 50%;
	height: auto;
}

.info-item a {
	text-decoration: none;
	color: #ffffff;
}

.info-item {
	font-size: 20px;
	margin: 10px;
	padding: 20px;
	display: inline-block;
	color: #d9d9d9;
	background-color: #222;
	border: 2px solid #d9d9d9;
	border-radius: 5px;
}

.infolink {
	text-decoration: none; /* Bağlantının altı çizili olmaması için */
	color: #d9d9d9;
	font-size: 20px;
	font-family: "Playpen Sans Thai", cursive;
	transition: all 0.3s ease; /* Efektin yumuşak bir geçişle gerçekleşmesi için */
	border-radius: 5px; /* Kutunun köşelerini yuvarlatmak için */
}
#linkden i {
	color: #3498db;
}
#github {
	color: #ffffff;
}
#github.infolink {
	background-color: transparent;
}
#insta i {
	background: linear-gradient(
		45deg,
		#f09433,
		#e6683c,
		#dc2743,
		#cc2366,
		#bc1888
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	font-size: 18px;
	transition: transform 0.1s ease;
}

#linkden.infolink:hover {
	color: rgb(255, 255, 255); /* Açık mavi tonu */
	background: linear-gradient(45deg, #0e2c36, #03a3f3);

	box-shadow: 0 0 12px rgba(74, 175, 243, 0.5);
	background-color: rgba(93, 173, 226, 0.1); /* Hafif bir arka plan parlaması */
	border-radius: 8px;
	padding: 10px;
}

#insta.infolink:hover {
	color: white;
	text-shadow: 0 0 8px #fff, 0 0 16px #fff; /* Glow efekti */
	box-shadow: 0 0 18px rgba(255, 255, 255, 0.4); /* Glow kutu gölgesi */
	transform: scale(1.05); /* Hoverda büyüme efekti */
	background: linear-gradient(
		45deg,
		#613b13,
		#e6683c,
		#dc2743,
		#cc2366,
		#bc1888
	);
	padding: 10px;
}
#github.infolink:hover {
	color: white; /* Açık mavi tonu */
	text-shadow: 0 0 8px #5dade2, 0 0 16px #5dade2;
	box-shadow: 0 0 12px rgba(93, 173, 226, 0.5);
	background: linear-gradient(
		45deg,
		#5f7a9e,
		/* GitHub'ın koyu lacivert tonu */ #2e3c8b
			/* GitHub'ın daha açık mavi tonu */
	);
	border-radius: 8px;
	padding: 10px;
}

.mailPage {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	background-color: #27272700;

	width: 100%;
	height: 500px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	gap: 20px;
	background: linear-gradient(45deg, #141414, #272727);
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 20px 55px rgba(0, 0, 0, 0.7);
}

.contact-form textarea {
	resize: none;
	padding: 15px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 10px;
	transition: border-color 0.3s, box-shadow 0.3s;
	font-family: inherit;
	overflow: hidden;
}

#name {
	height: 50px;
}

#mail {
	height: 50px;
}

#text {
	height: 150px;
}

textarea::placeholder {
	color: #424242;
}

.contact-form textarea:focus {
	outline: none;
	border-color: #5dade2;
	box-shadow: 0 0 10px rgba(93, 173, 226, 0.5);
}

textarea:hover {
	color: #000; /* Siyah yazı rengi */
	background-color: linear-gradient(
		45deg,
		#0077b5,
		#00a0dc
	); /* İsteğe bağlı: açık arka plan */
	cursor: pointer; /* İmleç rengi siyah */
}

.contact-form button {
	padding: 15px;
	font-size: 18px;
	background: linear-gradient(45deg, #0077b5, #00a0dc);
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
}

.contact-form button:hover {
	transform: scale(1.03);
	box-shadow: 0 0 15px rgba(0, 160, 220, 0.5);
	cursor: pointer;
}

/* -------------------Footer-------------------------------- */
hr {
	height: 3px;
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	background: linear-gradient(
		90deg,
		red,
		orange,
		yellow,
		green,
		blue,
		indigo,
		violet
	);
	background-size: 400% 100%;
	animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}
footer {
	background-color: #00000000;
	color: white;
	text-align: center;
	padding: 10px 100px;
	font-family: "Arial", sans-serif;
}

.footer-menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-bottom: 10px;
	max-width: 100%;
}

.footer-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	margin: 0 10px;
}

.footer-column h3 {
	font-size: 14px;
	margin-bottom: 8px;
	font-weight: bold;
}

.footer-column a {
	text-decoration: none;
	color: rgb(205, 203, 203);
	font-size: 14px;
	margin: 4px 0;
	line-height: 1.5;
}
.footer-column > div {
	text-decoration: none;
	color: rgb(205, 203, 203);
	font-size: 14px;

	line-height: 1.5;
}
.hoverA:hover {
	color: #ffffff;
	transition: color 0.3s ease;
	cursor: pointer;
	outline: none;
	border-radius: 8%;
	border: none;
	background: #222;
	box-shadow: 0 0 5px #222, 0 0 20px #6a6a6a;
	color: #dcdcdc;
}

footer p {
	font-size: 12px;
	margin-top: 10px;
	font-family: "Times New Roman", Times, serif;
}
#github {
	background: #ffffff;
	border-radius: 3px;
}
.footer-column > a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.NoLink {
	pointer-events: none;
}
